element.style {
}
user agent stylesheet
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}
body {
    background-color: rgb(201, 203, 224);
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul ul {
    list-style-type: circle;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
user agent stylesheet
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
